@import "tailwindcss";

/* @layer base {
  img {
    max-width: none;
  }
} */

:root {
  font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sent-chat {
  background-color: black;
  color: white;
  margin-left: auto;
  max-width: 70%;
  width: fit-content;
  border-radius: 20px;
  padding: 0.75rem 1rem;
}

.received-chat {
  background-color: #e5e5e5;
  color: black;
  margin-right: auto;
  max-width: 70%;
  border-radius: 20px;
  padding: 0.75rem 1rem;
}

.chat {
  display: inline-block;
  /* Break long word */
  word-wrap: break-word; 
  width: 100%;
  /* Break on white-space */
  white-space: pre-wrap;
}

.modal-divider {
  border: 1px solid rgba(203, 213, 225, 0.5);
  width: 100%;
}

